name: 柚子音乐TV - Build Debug APK

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Build type'
        required: true
        default: 'debug'
        type: choice
        options:
          - debug
          - release

jobs:
  build:
    name: Build Android APK
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Setup Java Env
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '17'
          cache: gradle

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "cachedir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ${{ steps.npm-cache-dir.outputs.cachedir }}
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-cache-

      - name: Install dependencies
        shell: bash
        run: npm ci

      - name: Build APK
        shell: bash
        run: |
          cd android
          chmod +x ./gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Get package version
        run: node -p -e '`PACKAGE_VERSION=${require("./package.json").version}`' >> $GITHUB_ENV

      - name: Generate file MD5
        run: |
          cd android/app/build/outputs/apk/debug
          md5sum *.apk

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: yuzu-music-tv-debug-v${{ env.PACKAGE_VERSION }}
          path: android/app/build/outputs/apk/debug/*.apk
          retention-days: 90
